spring:
  application:
    name: auth-app

  datasource:
    url: jdbc:mysql://localhost:3306/auth_app
    username: root
    password: Simran2003@

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true

server:
  port: 8080

logging:
  level:
    org.springframework.security: DEBUG
